language: python

matrix:
  include:
    - os: linux
      python: 3.4
    - os: linux
      python: 3.5
    - os: linux
      python: 3.5
    - os: osx
      language: generic
      env: PYTHON=3.4
    - os: osx
      language: generic
      env: PYTHON=3.5
    - os: osx
      language: generic
      env: PYTHON=3.6

before_install: |
  if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    bash Miniconda3-latest-MacOSX-x86_64.sh -b -p $HOME/miniconda
    export PATH="$HOME/miniconda/bin:$PATH"
    hash -r
    conda create -y -n cienv python=$PYTHON
    source activate cienv
    python --version
    pip --version
  fi

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

script:
  - pytest tests
