clone_depth: 1
version: '{build}-{branch}'
skip_branch_with_pr: false

environment:
  matrix:
    - PYTHON: "C:\\Python34"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python34-x64"
      DISTUTILS_USE_SDK: "1"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36-x64"

install:
  - set "PATH=%PYTHON%\scripts;%PYTHON%;%PATH%"
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

build: off

test_script:
  - pytest tests
